
.mat-card-title{
  font-family: cursive;
  font-weight: bold;
  font-size: 30px;
  color:#ffdf7d;
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  margin: 5px;
  justify-content: flex-start ;
  flex-flow: row;
}

