
      :host {
        display: flex;
        justify-content: center;
        margin: 100px 0px;
        background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg");
        /* Full height */
        height: 100%;
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

      }

      .mat-form-field {
        width: 100%;
        min-width: 300px;
      }

      mat-card-title,
      mat-card-content {
        display: flex;
        justify-content: center;
        font-family: Fira Sans;
        font-weight: bold;
        color: primary;
      }


      .error {
        padding: 16px;
        width: 300px;
        color: rgb(207, 15, 15);
        font-size: large;
        border: 1px solid rgb(207, 15, 15);

      }



      button{
        margin: 2%;
        margin-top: 0%;
    }

    h1{
        margin: 0;
    }

    mat-radio-button{
        margin: 15px;
    }
    mat-form-field{
      width: 300px;
  }
  .user{
    text-align: center;
}


