
<mat-card >
  <mat-card-content>
    <img *ngIf="cloth.isImagebase64" mat-card-image [src]="'data:image/png;base64,' + cloth.image" />
    <img *ngIf="!cloth.isImagebase64" mat-card-image [src]="cloth.image" />

  </mat-card-content >
  <mat-card-actions fxLayout="column" fxFlex="20%" >
    <button *ngIf="!isChoosen" mat-mini-fab color="primary" (click)="openCatagories()">
      <mat-icon>class</mat-icon>
    </button>
    <button *ngIf="!isChoosen" mat-mini-fab color="primary" (click)="deleteItem(cloth.id)">
      <mat-icon>delete</mat-icon>
    </button>
    <button *ngIf="!isChoosen" mat-mini-fab color="primary" (click)="choose(cloth)">
      <mat-icon>add</mat-icon>
    </button>
    <button *ngIf="isChoosen" mat-mini-fab color="accent" (click)="removeFromFavorite(cloth)">
      <mat-icon>remove</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
