

         <div class="box19">
              <img [src]="'data:image/png;base64,' + ImageSrc" >
              <div class="box-content">
                  <ul class="icon">
                      <li><a href="#"><i class="fa fa-search"></i></a></li>
                      <li><a href="#"><i class="fa fa-link"></i></a></li>
                  </ul>
              </div>
          </div>
          <!-- <mat-card >
              <img mat-card-image [src]="'data:image/png;base64,' + ImageSrc"  >
              <mat-card-actions >
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
              </mat-card-actions>
            </mat-card>
 -->
