mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
  font-family: Fira Sans;
  font-weight: bold;
  font-size: 50px;
  color:#5935a7;

}
.welcome{
  margin: auto;
  margin-top: 2%;
}
