
<!-- <div class="container">
  <div class="row">
      <div class="col-md-3 col-sm-6">
          <div class="product-grid4">
              <div class="product-image4">
                  <a href="#">
                      <img class="pic-1" src="http://bestjquery.com/tutorial/product-grid/demo5/images/img-1.jpg">
                       <img class="pic-2" src="http://bestjquery.com/tutorial/product-grid/demo5/images/img-2.jpg">
                  </a>

                  <span class="product-new-label">New</span>
                  <span class="product-discount-label"></span>
              </div>

          </div>
      </div>

  </div>
</div>
<hr> -->
<mat-card class="viewClothe">
  <mat-card-title>
    The look for today:)
  </mat-card-title>
  <div class="container" fxLayout="row wrap" >
<!-- <mat-card fxFlex="50">
  <img mat-card-image src="https://market.marmelada.co.il/photos/992427.jpg?1473662487" alt="Photo of a Shiba Inu">
</mat-card>
<mat-card fxFlex="50">
  <img mat-card-image src="https://ae01.alicdn.com/kf/HTB19JMTBLuSBuNkHFqDq6xfhVXaP/Ok-But-First-Coffee-T-shirt-Funny-Quote-T-shirt-Fashion-shirt-Hipster-Unisex-T-Shirt.jpg_640x640.jpg" alt="Photo of a Shiba Inu">
</mat-card>
<mat-card fxFlex="50">
  <img mat-card-image src="https://www.terminalx.com/pub/media/catalog/product/cache/small_image/360x480/beff4985b56e3afdbeabfc89641a4582/x/1/x166440005-11555400558.jpg" alt="Photo of a Shiba Inu">
</mat-card> -->

<!-- <img mat-card-image [src]="'data:image/png;base64,' + cloth.image" /> -->
</div>


