
<mat-card-title> Categories of clothing</mat-card-title>
<mat-card-title> Please choose category for this cloth</mat-card-title>
<app-catagories [cloth]="data"></app-catagories>
<div mat-dialog-actions>

  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button>Ok</button>
  <!-- <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button> -->
</div>


<!-- Copyright 2019 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
