<!-- <app-search></app-search> -->
<div>
  <mat-sidenav-container class="example-container">
    <mat-sidenav opened mode="side">
      <div>

          <app-favorites fxflex="20%"></app-favorites>
      </div>
    </mat-sidenav>
    <mat-sidenav opened mode="side" position="end">
      <div>
        <app-catagories
          fxflex="20%"
          (getSelected)="search($event)"
        ></app-catagories>
      </div>
    </mat-sidenav>
    <div fxflex="60%">
      <div *ngFor="let cloth of clothArray | async" class="container">
        <!-- <div class="col-lg-1 botm-margin mb-4"></div> -->
        <app-cloth
          fxflex="60%"
          [cloth]="cloth"
          (deleteEM)="deleteCloth($event)"
        ></app-cloth>
      </div>
    </div>
  </mat-sidenav-container>
</div>
