<!-- <app-search></app-search> -->
<div >
        <div  >
            <app-catagories  fxLayout="row" fxflex="20%" (getSelected)="search($event)" ></app-catagories>
        </div>
    <div fxflex="80%"  fxLayout="row" >
      <mat-card  fxflex="50%" class="container" fxLayout="row wrap">
          <app-cloth style="margin: 10px;" fxFlex="20" *ngFor="let cloth of clothArray | async"  [cloth]="cloth" (deleteEM)="deleteCloth($event)" ></app-cloth>
      </mat-card>
      <!-- <div style="margin-left: 100px;"> -->
        <app-select-cloth class="container" fxLayout="row wrap" style="margin-left: 100px;"></app-select-cloth>
      </div>
    <!-- </div> -->

  <!-- </mat-sidenav-container> -->
</div>
