<div class="container">
	<div class="row">
		<div class="col">
			<div class="weather-card one">
				<div class="top">
					<div class="wrapper">
						<!-- <div class="mynav">
							<a href="javascript:;"><span class="lnr lnr-chevron-left"></span></a>
							<a href="javascript:;"><span class="lnr lnr-cog"></span></a>
						</div> -->
						<h1 class="heading">{{description}} <span text-align="left" *ngIf="!!icon"> <img src="http://openweathermap.org/img/wn/{{icon}}@2x.png"></span></h1>
						<h3 class="location">{{country}}, {{city}}</h3>
						<p class="temp">
							 <span class="temp-value" >{{temp}}</span>
							<span class="deg">0</span>
							<a href="javascript:;"><span class="temp-type">C</span></a>
						</p>
					</div>
				</div>
				</div>
      </div>
    </div>
  </div>

