<!--color -->

<mat-card>
  <mat-form-field>
      <mat-select  placeholder="Cloth colors" [formControl]="form.value.colorsClothForm" multiple >
        <mat-select-trigger>
          {{form.value.colorsClothForm.value ? form.value.colorsClothForm.value[0] : ''}}
          <span *ngIf="form.value.typesClothForm.value?.length > 1">
            (+{{form.value.colorsClothForm.value.length - 1}} {{<form action="" class="value"></form>colorsClothForm.value?.length === 2 ? 'other' : 'others'}})
          </span>
        </mat-select-trigger>
        <mat-option *ngFor="let colorCloth of colorList" [value]="colorCloth">{{colorCloth}}</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card>

  <!-- Cloth types -->
  <mat-card>
  <mat-form-field>
      <mat-select placeholder="Cloth types" [formControl]="form.value.typesClothForm" multiple>
        <mat-select-trigger>
          {{form.value.typesClothForm.value ? form.value.typesClothForm.value[0].label : ''}}
          <span *ngIf="form.value.typesClothForm.value?.length > 1">
            (+{{form.value.typesClothForm.value.length - 1}} {{form.value.typesClothForm.value?.length === 2 ? 'other' : 'others'}})
          </span>
        </mat-select-trigger>
        <mat-option *ngFor="let typeCloth of typeClothList" [value]="typeCloth">{{typeCloth.label}}</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card>

  <!-- Season -->
  <mat-card>
      <mat-form-field>
          <mat-select placeholder="Season" [formControl]="form.value.seasonForm" multiple>
            <mat-select-trigger>
              {{form.value.seasonForm.value ? form.value.seasonForm.value[0].label : ''}}
              <span *ngIf="form.value.seasonForm.value?.length > 1">
                (+{{form.value.seasonForm.value.length - 1}} {{form.value.seasonForm.value?.length === 2 ? 'other' : 'others'}})
              </span>
            </mat-select-trigger>
            <mat-option *ngFor="let season of seasonList" [value]="season">{{season.label}}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card>

      <!-- cloth Style -->
      <mat-card>
          <mat-form-field>
              <mat-select placeholder="Cloth Style" [formControl]="form.value.clothStyleForm" multiple>
                <mat-select-trigger>
                  {{form.value.clothStyleForm.value ? form.value.clothStyleForm.value[0].label : ''}}
                  <span *ngIf="form.value.clothStyleForm.value?.length > 1">
                    (+{{form.value.clothStyleForm.value.length - 1}} {{form.value.clothStyleForm.value?.length === 2 ? 'other' : 'others'}})
                  </span>
                </mat-select-trigger>
                <mat-option *ngFor="let clothStyle of clothStyleList" [value]="clothStyle">{{clothStyle.label}}</mat-option>
              </mat-select>
            </mat-form-field>
          </mat-card>
          <button mat-fab color="primary" (click)="search($event)">
            <mat-icon>search</mat-icon>
        </button>

