<div style="text-align:center">
  <br/>
  <div>
    <webcam [trigger]="triggerObservable" (imageCapture)="handleImage($event)" ></webcam>
    <br/>
    <img id="snapshotBtn" (click)="triggerSnapshot();" style="height:50px; width:50px;" src="assets/images/cameraImg.jpg" alt="snapshot"/>
    <!-- <button id="callAPI" (click)="callAPI();">call API</button> -->
  </div>
</div>
<div style="text-align:center" class="snapshot" *ngIf="webcamImage">
  <h2>Save picture!  <img id="savepic" (click)="savePicture();" style="height:50px; width:50px;" src="assets/images/saveImg.jpg" alt="save"/> </h2>
  <img [src]="webcamImage.imageAsDataUrl"/>
</div>

